@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Poppins:wght@100;300;400;500;700&family=Shadows+Into+Light&family=Supermercado+One&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	font-weight: 400;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: #111;
}
.container {
	max-width: 700px;
	width: 100%;
	background: linear-gradient(#a9d8ac, #d9eae1);
	padding: 25px 30px;
	border-radius: 5px;
}

.contact-title {
	margin-top: 100px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
}
.contact-title h1 {
	padding: 20px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 45px;
}
#anonymous {
	font-size: 18px;
	text-transform: uppercase;
	color: #111;
	padding: 20px;
}

.information h2 {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

.contact-form {
	width: 100%;
}

.form-control {
	width: 100%;
	background: #c9f9c1;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	height: 45px;
	font-size: 20px;
	color: #111;
	padding-left: 10px;
	outline: none;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

#story-text {
	height: 15em;
}

form .submit {
	background: #9fe39f;
	border-color: #111;
	border-radius: 5px;
	color: #111;
	font-size: 20px;
	letter-spacing: 1em;
}

form .submit:hover {
	background-color: #666666;
	color: white;
	cursor: pointer;
}

@media (max-width: 480px) {
	.contact-title {
		margin-top: 100px;
		color: #111;
		text-transform: uppercase;
		text-align: center;
	}
	.contact-title h1 {
		font-size: 38px;
		padding: 20px;
	}
	contact .contact-title p {
		font-size: 14px;
		padding: 10px;
	}
	form .submit {
		width: 100%;
		background: #9fe39f;
		border-color: #111;
		border-radius: 5px;
		color: #111;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 1em;
	}
	#anonymous {
		font-size: 18px;
	}

	.information h2 {
		font-size: 12px;
	}
}
