@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
	background-image: url('background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #111;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

.contact-title {
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 6s ease-in-out;
}

.contact-title h1 {
	font-size: 32px;
	line-height: 10px;
}

.contact-title h2 {
	font-size: 16px;
}

form {
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	color: #fff;
	margin-bottom: 16px;
}

input {
	height: 45px;
	font-size: 20px;
}

textarea {
	height: 15em;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
form .submit {
	background: #e3e6e2;
	border-color: #111;
	border-radius: 9px;
	color: #666666;
	font-size: 20px;
	letter-spacing: 1em;
}

form .submit:hover {
	background-color: #666666;
	color: white;
	cursor: pointer;
}
